---
import content from '../i18n/en.json';

const { title } = content.meta;
const { services, company, legal } = content.footer;
---

<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
  <nav>
    <h6 class="footer-title">{services.title}</h6>
    {services.items.map((item) => (
      <a href={item.link} class="link link-hover">{item.title}</a>
    ))}
  </nav>
  <nav>
    <h6 class="footer-title">{company.title}</h6>
    {company.items.map((item) => (
      <a href={item.link} class="link link-hover">{item.title}</a>
    ))}
  </nav>
  <nav>
    <h6 class="footer-title">{legal.title}</h6>
    {legal.items.map((item) => (
      <a href={item.link} class="link link-hover">{item.title}</a>
    ))}
  </nav>

  <nav>
   <span class="text text-sm font-light">{title} © {new Date().getFullYear()} - All rights reserved. Crafted by <a href="https://danielmicallef.xyz" class="font-bold">DM</a></span> 
  </nav>
</footer>
